@import 'mixins';
body {
		background: url(../images/mainimage.PNG) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
body#home {
		background: url(../images/mainimage.PNG) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
h1 {
	.header();
	padding-top: .25rem;
}
p {
	.paragraph();
}
footer {
  text-align: center;
  height: 3rem;
  padding-bottom: 2rem;
}
footer img {
  margin-top: -.5rem;
  width: 30px;
  height: 30px;
}
nav ul li {
  list-style: none;
}
.macaroons {
	  width: 100%;
}
.btn-primary {
	  .header();
	  background-color: @lavender;
	  padding: .75rem;
	  border: none;
	  font-size: 1.25rem;
}
.btn-primary:focus, .btn-primary:active {
	  border: none;
}
.btn-primary:focus {
	  box-shadow: none;
	  background-color: @lavender;
}
.btn-primary:hover {
	  background-color: @pink;
}
.btn-primary:not(:disabled):not(.disabled).active {
	  background-color: @pink !important;
	  border: none;
	  box-shadow: none !important;
	  outline: none;
}
.nav-parent {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-mobile {
	margin-right: -15px;
}
.navbar-nav .btn-secondary {
	background-color: @green;
	border: 1px solid @green;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.navbar-nav .btn-secondary:hover, .navbar-nav .btn-secondary:focus, .navbar-nav .btn-secondary:active {
	background-color: @lavender !important;
	border: 1px solid @lavender;
	box-shadow: none !important;
}
.navbar-nav .btn-secondary:focus, .navbar-nav .btn-secondary:active {
	border: 1px solid @pink;
}
.navbar-nav h1 {
	color: @green;
	font-size: 2rem;
	margin-top: 3px;
}
.navbar li  {
    list-style-type: none;

}
.navbar li a {
  color: #3aa6ae;
  font-size: 1.3em;
  font-family: "Laila", sans-serif;
  font-weight: bold;
}
.menuhead h1 {
	color: #3AA6AE;
}
.container h1 {
  color: @green;
}

.border-bottom {
  border-bottom: 1px solid #999;
  padding-bottom: .5rem;
}
section {
  margin: 1rem 0;
  margin-left: 0 !important;
}
section h2 {
	.header();
  padding-bottom: .5rem;
}
figure {
  background-color: @green;
  padding: .25rem;
  margin-top: 1rem;
}
figure img {
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  transition: .2s;
}
figure figcaption {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  padding-top: 0;
  .paragraph();
  font-size: 1.5rem;
  color: #fff;
}
figure figcaption:before,
figure figcaption:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

figure figcaption:after {
    margin: 0 0 0 20px;
}
.catering-tile:hover {
  text-decoration: none;
  figure img {
    opacity: .8;
  }
}
.modal h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.modal .btn-primary {
  font-size: 1rem;
  padding: 10px;
}
select, input, textarea {
  padding: 5px 0;
  margin: .5rem 0;
  border: 2px solid @pink;
  border-radius: 5px;
}
select:focus, input:focus, textarea:focus {
  outline-color: @green;
}
select, option, input, textarea {
  color: @green;
}
#cater-ok {
  display: none;
}

.navbar li {
  list-style-type: none;
}
.navbar li a {
  .lailaregular();
}
.navbar li a.active {
	text-decoration: underline;
	text-decoration-color: @pink;
}
 /**** end navbar styling ****/
/**** start logo and cta styling ******/
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 35%;
}
.circle_logo {
    width: 80%;
    padding-bottom: 4%;
}
.menu_btn {
    width: 60%;
}
/**** end logo and cta styling ****/
#contact-form {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
}
#contact-form .form-group {
  align-items: center;
}
#contact-form .form-group p {
  text-align: right;
  font-size: .85rem;
}
#contact-form .form-group button {
  display: block;
  float: right;
}
#contact-form .form-group p.text-danger {
  display: none;
}
#contact-form .form-group #message {
  display: flex;
  align-self: flex-start;
  margin-top: 5px;
}
.form-group label {
	padding-left: 0;
}
.dropdown-item {
	text-align: center;
	width: 100%;
}
.dropdown-toggle::after {
	display: none;
}

/**** start iPad/768px min width media query ****/
@media (min-width: 768px) {
	.navbar li a:hover {
			text-decoration: underline;
			text-decoration-color: @pink;
		}
	main {
			padding-top: 2%;
	}
	.circle_logo {
			width: 50%;
	}
}
/**** end iPad/768px min width media query ****/

/**** start desktop/1024px min width media query ****/
@media (min-width: 1024px) {
	.circle_logo {
			max-width: 430px;
			margin-top: -2rem;
	}
	main {
			padding-top: 8%;
	}
}
/**** end desktop/1024px min width media query ****/
