@import 'mixins';
body {
		background: url(../images/mainimage.PNG) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
body#home {
		background: url(../images/mainimage.PNG) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
h1 {
	  .header();
}
p {
	  .paragraph();
}
footer {
	  text-align: center;
	  height: 75px;
}
footer img {
	  width: 30px;
	  height: 30px;
}
.macaroons {
	  width: 100%;
}
.btn-primary {
	  .header();
	  background-color: @lavender;
	  padding: .75rem .5rem;
	  border: none;
	  font-size: 1.5rem;
}
.btn-primary:focus, .btn-primary:active {
	  border: none;
}
.btn-primary:focus {
	  box-shadow: none;
	  background-color: @lavender;
}
.btn-primary:hover {
	  background-color: @pink;
}
.btn-primary:not(:disabled):not(.disabled).active {
	  background-color: @pink !important;
	  border: none;
	  box-shadow: none !important;
	  outline: none;
}
.menuhead h1 {
	  color: #3AA6AE;
}

/**** start navbar styling ****/
nav ul li {
  	list-style: none;
}
.navbar li a {
		.lailaregular();
}
 /**** end navbar styling ****/
/**** start logo and cta styling ******/
#home main {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
}
.circle_logo {
		width: 80%;
		padding-bottom: 4%;
}
.menu_btn {
		width: 60%;
}
/**** end logo and cta styling ****/
/**** start footer styling ****/
footer {
		text-align: center;
		height: 50px;
		padding-bottom: 3%;
}
.mx-2 {
		height: 200%;
}
/**** start footer styling ****/
/**** start iPad/768px min width media query ****/
@media (min-width: 768px) {
		.navbar li a:hover {
			 	text-decoration: underline;
			 	text-decoration-color: pink;
			}
		main {
				padding-top: 2%;
		}
		.circle_logo {
			 	width: 50%;
		}
		footer {
				height: 100px;
		}
		.mx-2 {
				height: 90%;
				padding-top: 3%;
		}
}
/**** end iPad/768px min width media query ****/
/**** start desktop/1024px min width media query ****/
@media (min-width: 1024px) {
		.circle_logo {
				width: 30%;
		}
		main {
				padding-top: 8%;
		}
		footer {
				height: 100px;
		}
		.mx-2 {
				height: 80%;
				padding-top: 1%;
		}
}
/**** end desktop/1024px min width media query ****/
