  
  /**** start navbar styling ****/
  .lailaregular {
    color: #3aa6ae;
    font-size: 1.3em;
    font-family: "Laila", sans-serif;
    font-weight: bold;
  }

  .navbar li {
    list-style-type: none;
  }

  .navbar li a {
    color: #3aa6ae;
    font-size: 1.3em;
    font-family: "Laila", sans-serif;
    font-weight: bold;
  }
   /**** end navbar styling ****/

  /**** start background image ****/
   body {
    background-image: url('images/mainimage.png');
  }
  /**** end background image *****/

  /**** start logo and cta styling ******/
  main {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding-top: 35%;
  }

  .circle_logo {
      width: 80%;
      padding-bottom: 4%;
  }

  .menu_btn {
      width: 60%;
  }
  /**** end logo and cta styling ****/

  /**** start footer styling ****/
  footer {
    text-align: center;
    height: 50px;
    padding-bottom: 3%;
  }

  .mx-2 {
      height: 200%;
  }
  /**** start footer styling ****/

  /**** start iPad/768px min width media query ****/
  @media (min-width: 768px) {

    .navbar li a:hover {
       text-decoration: underline;
       text-decoration-color: pink;
      }

    main {
        padding-top: 2%;
    }
    .circle_logo {
         width: 50%;
      }

      footer {
          height: 100px;
      }

      .mx-2 {
        height: 90%;
        padding-top: 3%;
    }
  }
  /**** end iPad/768px min width media query ****/
 
  /**** start desktop/1024px min width media query ****/
  @media (min-width: 1024px) {
      .circle_logo {
          width: 30%;
      }

      main {
          padding-top: 8%;
      }

      footer {
        height: 100px;
    }

    .mx-2 {
      height: 80%;
      padding-top: 1%;
  }
  }

  /**** end desktop/1024px min width media query ****/